html {
  font-size: 100px;
  height: 100%;
}
body {
  font-size: .12rem;
}
.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.over-text-show {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
